@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">
        Velkommen
        <img src="~/images/vegetable-icon-png-xsm.png" />
    </h1>


    <br />
    <br />
    <p>
        Denne side omhandler vegetariske og veganske produkter som kan være svære at finde i supermarkeder.
        Derfor vil denne side hjælpe med at finde produkterne ved at man selv kan indtaste produkterne sammen med butikkernes adresse.
        Man kan også søge efter et bestemt produkt og derved se hvilke butikker der har produktet i deres sortiment.
    </p>
    <br />
    <p>Her kan du søg efter og indtaste nye <a asp-area="Admin" asp-controller="Product" asp-action="Index">vegetariske produkter</a>.</p>
</div>
